/-# tenant_layout.html.haml

/%html
/	%head
/		%title= yield(:title)
/		= yield(:head)
/	%body
/		%nav
/			%a{ :href => "/views/tenant/dashboard", :title => "Dashboard" }
/			%a{ :href => "/views/tenant/maintenance", :title => "Maintenance" }
/			%a{ :href => "/views/tenant/message", :title => "Message" }
/			%a{ :href => "/views/tenant/docs", :title => "Documents" }
/			%a{ :href => "/views/tenant/payment", :title => "Payment" }
/		#content
/			= yield
